<!DOCTYPE html>
<html>
  <head>
    <style>

    </style>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="image" background="https://media.istockphoto.com/id/1427555254/vi/anh/b%C3%A0n-halloween-t%E1%BA%A5m-v%C3%A1n-g%E1%BB%97-c%C5%A9-v%E1%BB%9Bi-b%C3%AD-ng%C3%B4-m%C3%A0u-cam-trong-phong-c%E1%BA%A3nh-m%C3%A0u-t%C3%ADm-v%E1%BB%9Bi-%C3%A1nh-tr%C4%83ng.jpg?s=612x612&w=is&k=20&c=gIbq3EJzx68UK5yx1SbB6RQXo-KPOmjEwsBa5NV8d6k=">
    <style>
      .image{
        width: 100%;
        height: 100vh;
    /*Center and scale the image nicely*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      }
      .id{
        padding: 70px 0;
        text-align: center;
      }        
    
      h1{
        
        color:burlywood;
      }
    </style>
    
    <div class="id">
    <h1>Welcome to <%= title %></h1>
    <form method="post">
      <input type="submit" value="Login">
    </form>
    </div>  
  </body>
</html>
